body {
}

/*
    Style for validate form
*/
.css-form input.ng-invalid.ng-touched, input.ng-invalid.ng-invalid {
    /*background-color: #FA787E;*/
}

.css-form input.ng-valid.ng-touched, input.ng-valid.ng-valid {
    /*background-color: #78FA89;*/
}

.fake_link {
    color: #1F75CC;
    cursor: pointer;
}

    .fake_link:hover {
        text-decoration: underline;
        color: #b200ff;
    }

.image-thumbnail {
    position: relative;
    float: left;
    display: inline-block;
    margin-right: 10px;
}

    .image-thumbnail img {
        float: left;
        height: 100px;
        width: 100px;
    }

    .image-thumbnail i {
        position: absolute;
        top: 0;
        left: 5px;
        font-size: 25px;
    }
