<ion-view>
    <div header-view></div>
    <ion-content class="has-header" scroll="false">
        <div map-lazy-load="https://maps.google.com/maps/api/js"
             map-lazy-load-params="https://maps.googleapis.com/maps/api/js?key=AIzaSyB0FAFOja642wIfpLq0k_OeMJFtzR_tu0Q" style="height:100%;display:block">
            <ng-map map-initialized="mycallback(map)" scrollwheel="false" center="{{Initposition}}" default-style="false" style="height:100%;width:100%;display:block"
                    disable-default-u-i="true"
                    disable-double-click-zoom="true"
                    draggable="false"
                    draggable-cursor="help"
                    dragging-cursor="move"
                    keyboard-shortcuts="false"
                    zoom="14"
                    tilt="45">
                <marker position="{{myPosition}}" optimized="true"></marker>
            </ng-map>
        </div>
        <div class="calendarWraper">
            <div class="now">Now</div>
            <div class="swiper-container global">
                <div class="swiper-wrapper">
                    <div class="swiper-container TodayTomorrow">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">Today</div>
                            <div class="swiper-slide">Tomorrow</div>
                        </div>
                    </div>
                    <div class="swiper-container hours">
                        <div class="swiper-wrapper hours">
                            <div class="swiper-slide">1</div>
                            <div class="swiper-slide">2</div>
                            <div class="swiper-slide">3</div>
                            <div class="swiper-slide">4</div>
                            <div class="swiper-slide">5</div>
                            <div class="swiper-slide">6</div>
                            <div class="swiper-slide">7</div>
                            <div class="swiper-slide">8</div>
                            <div class="swiper-slide">9</div>
                            <div class="swiper-slide">10</div>
                            <div class="swiper-slide">11</div>
                            <div class="swiper-slide">12</div>
                        </div>
                    </div>
                    <div class="swiper-container minutes">
                        <div class="swiper-wrapper" id="minute-swiper-wrapper">
                            <div class="swiper-slide">00</div>
                            <div class="swiper-slide">05</div>
                            <div class="swiper-slide">10</div>
                            <div class="swiper-slide">15</div>
                            <div class="swiper-slide">20</div>
                            <div class="swiper-slide">25</div>
                            <div class="swiper-slide">30</div>
                            <div class="swiper-slide">35</div>
                            <div class="swiper-slide">40</div>
                            <div class="swiper-slide">45</div>
                            <div class="swiper-slide">50</div>
                            <div class="swiper-slide">55</div>
                        </div>
                    </div>
                    <div class="swiper-container AmPm">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">Am</div>
                            <div class="swiper-slide">Pm</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="next">
                <div class="table">
                    <div class="cell">
                        Next
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>