<ion-view>
    <div header-view></div>
    <ion-content class="has-header" scroll="false">
        <div map-lazy-load="https://maps.google.com/maps/api/js"
             map-lazy-load-params="https://maps.googleapis.com/maps/api/js?key=AIzaSyB0FAFOja642wIfpLq0k_OeMJFtzR_tu0Q" style="height:100%;display:block">
            <ng-map map-initialized="mycallback(map)" scrollwheel="false" center="{{Initposition}}" default-style="false" style="height:100%;width:100%;display:block"
                    disable-default-u-i="true"
                    disable-double-click-zoom="true"
                    draggable="false"
                    draggable-cursor="help"
                    dragging-cursor="move"
                    keyboard-shortcuts="false"
                    zoom="14"
                    tilt="45">
                <marker position="{{myPosition}}" optimized="true"></marker>
            </ng-map>
        </div>
    </ion-content>
    <div footer-view></div>
</ion-view>
