<ion-view title="Connexion" id="page1">
    <ion-content padding="true" scroll="false" class="has-header">
        <form id="connexion-form9" class="list">
            <label class="item item-input myclass" id="connexion-input3" name="login" ng-model="login">
                <input type="text" placeholder="Email/Pseudo">
            </label>
            <label class="item item-input" id="connexion-input6" name="password" ng-model="password">
                <input type="password" placeholder="Mot de passe">
            </label>
        </form>
        <button id="connexion-button2" class="button button-positive  button-block btnDefault" ng-click="connect(login,password)">Valider</button>
    </ion-content>
</ion-view>