<ion-view>
    <div header-view></div>
    <div id="ctn1" class="has-header">
        <ion-tabs>
            <ion-tab title="Evènements reçus">
                <ion-content>
                    <div event-view></div>
                </ion-content>
            </ion-tab>

            <ion-tab title="Evènements envoyés">
                <ion-content>
                    <div event-view></div>
                </ion-content>
            </ion-tab>
        </ion-tabs>
    </div>
    <div footer-view></div>
</ion-view>