<ion-view>
    <div header-view></div>
     <div class="tabs-striped tabs-top tabs-background-light tabs-color-positive tabs-icon-left">
        <div class="tabs">
            <a class="tab-item active" href="#">
                <i class="icon ion-ios-download-outline"></i>
                Evènements reçus 
            </a>
            <a class="tab-item" href="#">
                <i class="icon ion-ios-upload-outline"></i>
                Evènements envoyés
            </a>
        </div>
    </div>

    <ion-content padding="true" class="has-header">
    </ion-content>
</ion-view>