<ion-view title="innerFriends" id="page2">
    <ion-header-bar class="bar item-input-inset has-subheader">
        <label class="item-input-wrapper">
            <i class="icon ion-search placeholder-icon"></i>
            <input id="searchKey" type="text" placeholder="Filtrer" ng-model="query" ng-show="showFilter">
            <input id="searchFriend" type="text" placeholder="Rechercher" ng-keyup="findFriend(pattern)" ng-model="pattern" ng-show="showSearch" >
        </label>
    </ion-header-bar>
    <ion-content padding="false">
        <ion-refresher on-refresh="doRefresh()">
            <ion-refresher-content></ion-refresher-content>
        </ion-refresher>
        <ion-list click-for-options-wrapper id="innerFriends-list4">
            <ion-item  click-for-options class="item-avatar" id="innerFriends-list-item2" ng-repeat="f in listfriend | filter: query">

                    <img id="imgAvatar" src="img/icon_friend.png">
                    <div class="item-text-center item-text-wrap">
                        <h2>{{f.FirstName+' '+f.LastName}}</h2>
                        <ion-option-button class="button-assertive" ng-show="showSwipBtn" ng-click="clicDeleteFriend({{f.Id}});$event.stopPropagation();">supprimer</ion-option-button>
                        <ion-option-button class="button-balanced" ng-show="showSwipBtnAccept" ng-click="clicAcceptFriend({{f.Id}});$event.stopPropagation();">accepter</ion-option-button>
                        <ion-option-button class="button-calm" ng-show="showSwipBtnAdd" ng-click="clicAddFriend({{f.Id}});$event.stopPropagation();">ajouter</ion-option-button>
                    </div>
                    <label class="checkbox right" ng-show="showAddBtn">
                        <input type="checkbox" ng-click="inviteFriend(f); $event.stopPropagation();">
                    </label>
                </ion-item>
        </ion-list>
    </ion-content>
</ion-view>