<ion-view title="innerFriends" id="page2">
    <ion-header-bar class="bar item-input-inset has-subheader">
        <label class="item-input-wrapper">
            <i class="icon ion-search placeholder-icon"></i>
            <input id="searchKey" type="text" placeholder="Search" ng-model="query">
        </label>
    </ion-header-bar>
    <ion-content padding="false">

        <ion-refresher on-refresh="doRefresh()">
            <ion-refresher-content></ion-refresher-content>
        </ion-refresher>
        <ion-list click-for-options-wrapper id="innerFriends-list4">
            <ion-item click-for-options class="item-avatar" id="innerFriends-list-item2" ng-repeat="f in listfriend | filter: query">
                <img id="imgAvatar" src="img/icon_friend.png">
                <div class="item-text-center item-text-wrap">
                    <h2>{{f.FirstName+' '+f.LastName}}</h2>
                    <ion-option-button class="button-assertive">supprimer</ion-option-button>
                </div>
                <label class="checkbox right" ng-show="showAddBtn, showSwipBtn">
                    <input type="checkbox" ng-click="addFriend(f); $event.stopPropagation();">
                </label>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>