<ion-view title="innerFriends" id="page2">
    <ion-header-bar class="bar item-input-inset has-subheader">
        <label class="item-input-wrapper">
            <i class="icon ion-search placeholder-icon"></i>
            <input id="searchKey" type="text" placeholder="Search" ng-model="query">
        </label>
    </ion-header-bar> 
    <ion-content padding="false" >
        
        <ion-refresher on-refresh="doRefresh()">
            <ion-refresher-content></ion-refresher-content>
        </ion-refresher>
        <ion-list id="innerFriends-list4">
            <ion-item class="item-avatar" id="innerFriends-list-item2" ng-repeat="f in listfriends | filter: query">
                <img id="imgAvatar" src="img/9Dlls3CrTLGcBNiQq5XM_facebook-default-no-profile-pic.jpg">
                <div class="item-text-center item-text-wrap"><h2>{{f.nom+' '+f.prenom}}</h2></div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>