<view title="'Settings'">
    <content padding="true" class="has-header">
        <form id="settings-form2" class="list">
            <label class="item item-input" id="settings-input10">
                <input type="text" placeholder="Pseudonyme">
            </label>
            <label class="item item-input" id="settings-input9">
                <input type="text" placeholder="Nom">
            </label>
            <label class="item item-input" id="settings-input12">
                <input type="text" placeholder="Prénom ">
            </label>
            <label class="item item-input" id="settings-input6">
                <input type="email" placeholder="Adresse e-mail">
            </label>
            <label class="item item-input" id="settings-input4">
                <input type="number" placeholder="Numéro de téléphone">
            </label>
            <label class="item item-input" id="settings-input7">
                <input type="text" placeholder="Mot de passe">
            </label>
            <toggle toggle-class="toggle-positive" id="settings-toggle1">Désactiver compte </toggle>
            <toggle toggle-class="toggle-positive" id="settings-toggle2">Désactiver les notifications</toggle>
            <label class="item item-input" id="settings-input8">
                <span class="input-label">Supprimer compte </span>
                <input type="text" placeholder="">
            </label>
            <button id="settings-button2" style="font-weight:500;" class="button button-positive  button-block">Déconnexion </button>
        </form>
    </content>
</view>